body {
  background-image: url("https://images.pexels.com/photos/5084447/pexels-photo-5084447.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  /* background: linear-gradient(to top, #e0f2ff, #c2dfff, #b3d6ff, #a3cdff); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

main,
.search-form {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

main {
  margin: 20px auto;
  padding: 30px;
  border-radius: 16px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

h1 {
  margin: 0;
  font-size: 36px;
}

footer {
  margin-top: auto;
  text-align: center;
  color: #585858;
  font-family: monospace;
}

a {
  color: rgb(92, 19, 88);
}
.weather-app {
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
}

.search-form {
  display: flex;
  width: 100%;
  border-radius: 25px;
}

.search-input {
  flex: 1;
  padding: 16px 24px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  color: #313131;
}

.search-input:placeholder {
  color: #838383;
}

.search-btn {
  padding: 16px 20px;
  background: transparent;
  border: none;
  color: #535353;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in-out;
}

.search-btn:hover {
  color: #0a0a0a;
}
.current-time {
  line-height: 1.5;
}
.main-icon {
  align-self: center;
  font-size: 80px;
  position: relative;
  left: -50px;
  bottom: -1px;
}
.current-temp {
  font-weight: 700;
  font-size: 52px;
}
.degrees {
  font-size: 30px;
  position: relative;
  top: -15px;
}

.details {
  line-height: 1.8;
}

.details strong {
  color: rgb(235, 0, 129);
}

@media screen and (max-width: 480px) {
  .main-icon {
    left: -10px;
  }
}
